# ID of the table where the Golden Gate reactions are stored in airtable (can be obtained from the URL of the table. Starts with "tbl"
TABLE_GG_ID=

# ID of the table where the Molecules are stored in airtable (can be obtained from the URL of the table. Starts with "tbl"
TABLE_M_ID=

# ID of the table where the PCRs are stored in airtable (can be obtained from the URL of the table. Starts with "tbl"
TABLE_PCR_ID=

# ID of the table where the Primers are stored in airtable (can be obtained from the URL of the table. Starts with "tbl"
TABLE_PRIMER_ID=

