# ID of the table where the constructs are stored in airtable (can be obtained from the URL of the table. Starts with "tbl"
TABLE_C_ID=

# Benchling API key for managing the sequences
BENCHLING_API_KEY=

